#modal-root {
  position: relative;
  z-index: 999;
}

#modal-root .modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
  height: 60%;
  background: #ffffff;
  border-radius: 3px;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
}
.input__number{
  width: 150px;
  height: 30px;
  border: 1px solid rgb(155, 153, 153);
  border-radius: 4px;
}
.button__modal{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 100px;
  height: 33px;
  border: 1px solid rgb(155, 153, 153);
  border-radius: 4px;
  background-color: #edede8
}
.button__modal:hover{
  background-color: #dddddb;

}
